.author {
  background-color: #f1f5f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 92vh;
  color: whitesmoke;
}

.author__heading {
  margin-top: 8%;
  margin-bottom: 3%;
  color: #db3448;
}

span {
  margin-bottom: 5px;
}

.author__form form {
  display: flex;
  padding: 2rem 3rem;
  background-color: #f9e4f3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(209, 207, 207);
  border-radius: 15px;
  color: #db3448;
  font-weight: bold;
  box-shadow: inset 0px 0px 0px 1px lightgrey;
  transition: all 0.6s ease;
}

.author__form input {
  margin-bottom: 0.9rem;
  width: 500px;
  padding: 0.6rem;
  border: 0.5px solid lightgrey;
  outline: none;
  border-radius: 0.3rem;
  font-size: medium;
  text-align: center;
}

.author__submit {
  margin-top: 20px !important;
  color: whitesmoke !important;
}

@media only screen and (max-width: 1000px) {
  .author__form form {
    padding: 2rem 3rem;
  }
  .author__form input {
    width: 400px;
  }
}

@media only screen and (max-width: 800px) {
  .author__form form {
    padding: 1.5rem 2.5rem;
  }
  .author__form input {
    width: 300px;
  }
}

@media only screen and (max-width: 600px) {
  .author__form form {
    padding: 1.3rem 2.3rem;
  }
  .author__form input {
    width: 200px;
  }
}
