.main__section {
  display: flex;
  flex: 1;
  transition: 1s all ease;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
.home__bookForm form {
  padding: 2rem 3rem;
  background-color: #f9e4f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 15px;
  color: #db3448;
  font-weight: bold;
  margin-bottom: 40px;
  box-shadow: inset 0px 0px 0px 1px lightgrey;
  transition: all 0.6s ease;
}

.home__bookForm input,
select {
  margin-bottom: 0.9rem;
  width: 350px;
  padding: 0.4rem;
  border: 0.5px solid lightgrey;
  outline: none;
  border-radius: 0.3rem;
  font-size: 0.9;
  text-align: center;
}

.home__submit {
  margin-top: 20px !important;
  color: whitesmoke !important;
}

@media only screen and (max-width: 1000px) {
  .home__bookForm form {
    padding: 1.5rem 2.5rem;
  }
  .home__bookForm input,
  select {
    width: 300px;
    font-size: 0.8;
  }
}

@media only screen and (max-width: 800px) {
  .home__bookForm form {
    padding: 1.2rem 2rem;
  }
  .home__bookForm input,
  select {
    width: 270px;
    font-size: 0.8;
  }
}

@media only screen and (max-width: 600px) {
  .home__bookForm form {
    padding: 1rem 2rem;
  }
  .home__bookForm input,
  select {
    width: 250px;
    font-size: 0.8;
  }
}

.home {
  background-color: #f1f5f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 92vh;
  color: whitesmoke;
  flex: 0.65;
  flex-grow: 1;
}

.home__heading {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 1rem;
  text-align: center;
  color: #db3448;
}

.home__bookList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 1;
  flex-wrap: wrap;
}

.home__bookData {
  color: #ff5a5f;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.home__bookData button {
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
  border-radius: 8px;
  background-color: transparent;
  color: #db3448;
  border: 1px solid #db3448;
  cursor: pointer;
}

.home__bookData Button:hover {
  box-shadow: 0px 0px 0px 1px #db3448;
  transition: all 0.6s ease;
  background-color: #f5e2e9;
}

.home__bookData Button:active {
  background-color: #db3448;
  color: whitesmoke;
}

.home__bookData Button:focus {
  background-color: #db3448;
  color: whitesmoke;
}

.home__bookAuthor {
  text-align: center;
}

.home__drawer {
  flex: 0.35;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  /* background-color: #c43239; */
  background-color: #db3448;
  padding: 25px;
  transition: all 2s ease;
  border: 1px rgb(221, 126, 126) solid;
}

.home__drawerButtons {
  margin-top: 70%;
  display: flex;
  justify-content: space-between;
}

.home__closeDrawer {
  text-decoration: none !important;
  text-transform: uppercase;
}

.home__closeDrawer:hover {
  color: white !important;
}

.home__drawerButtons Button:hover {
  color: white !important;
}

.home__drawerContent {
  margin-top: 10%;
  text-align: left;
  color: whitesmoke;
  flex-wrap: wrap;
}

.home__drawerHeading {
  margin-bottom: 30px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.home__drawerInfo h4 {
  margin: 30px 0px;
}

.home__drawerList {
  margin: 30px 40px;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  .home__drawer {
    padding: 8px;
    font-size: 0.9rem;
  }
  .home__drawerHeading {
    font-size: 1.1rem;
  }
}
