.main__section {
  display: flex;
  flex: 1;
  transition: 1s all ease;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
.home__bookForm form {
  padding: 2rem 3rem;
  background-color: #524848;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 15px;
  color: whitesmoke;
  font-weight: bold;
  margin-bottom: 40px;
  opacity: 0.8;
}

.home__bookForm input,
select {
  margin-bottom: 0.9rem;
  width: 350px;
  padding: 0.4rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  font-size: 0.9;
  text-align: center;
}

.home__submit {
  margin-top: 20px !important;
  color: whitesmoke !important;
}

@media only screen and (max-width: 1000px) {
  .home__bookForm form {
    padding: 1.5rem 2.5rem;
  }
  .home__bookForm input,
  select {
    width: 300px;
    font-size: 0.8;
  }
}

@media only screen and (max-width: 800px) {
  .home__bookForm form {
    padding: 1.2rem 2rem;
  }
  .home__bookForm input,
  select {
    width: 270px;
    font-size: 0.8;
  }
}

@media only screen and (max-width: 600px) {
  .home__bookForm form {
    padding: 1rem 2rem;
  }
  .home__bookForm input,
  select {
    width: 250px;
    font-size: 0.8;
  }
}

.home {
  background-color: #ecdedc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 92vh;
  color: whitesmoke;
  flex: 0.65;
  flex-grow: 1;
}

.home__heading {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 1rem;
  text-align: center;
  color: #ae0a46;
}

.home__bookList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 1;
  flex-wrap: wrap;
}

.home__bookData {
  color: #ff5a5f;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.home__bookData Button {
  text-decoration: none !important;
  text-transform: uppercase;
}

.home__bookData Button:hover {
  text-decoration: underline !important;
}

.home__bookAuthor {
  text-align: center;
}

.home__drawer {
  flex: 0.35;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #c43239;
  padding: 25px;
}

.home__drawerButtons {
  margin-top: 70%;
  display: flex;
  justify-content: space-between;
}

.home__closeDrawer {
  text-decoration: none !important;
  text-transform: uppercase;
}

.home__closeDrawer:hover {
  color: white !important;
}

.home__drawerButtons Button:hover {
  color: white !important;
}

.home__drawerContent {
  margin-top: 15%;
  text-align: left;
  color: whitesmoke;
  flex-wrap: wrap;
}

.home__drawerHeading {
  margin-bottom: 30px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.home__drawerInfo h4 {
  margin: 30px 0px;
}

.home__drawerList {
  margin: 30px 40px;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  .home__drawer {
    padding: 8px;
    font-size: 0.9rem;
  }
  .home__drawerHeading {
    font-size: 1.1rem;
  }
}
